* {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #5a50bb;
  height: 100vh;
}

h1 {
  text-align: center;
}

h1, h3 {
  text-shadow: 0 0 10px #000;
}

h3 {
  font-size: 25px;
}

iframe {
  display: block;
  margin: 0 auto 20px;
}

h3 {
  font-size: 25px;
}
.list {
  display: flex;
  padding: 20px;
}

.list .item {
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 10px;
  transition: box-shadow .2s ease;
}

.list .item:hover {
  transition: box-shadow .2s ease;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, .5);
}

.list .item:last-child h3 {
  font-size: 35px;
  margin: auto 0 0;
}

.list .item .price {
  color: #138513;
  font-size: 25px;
  font-weight: bold;
}

.list .item .details {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 21px;
}

.list .item .button {
  padding: 20px;
  margin: auto 0 10px;
  background: #4dc74d;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  opacity: .7;
  text-shadow: 1px 2px rgba(0, 0, 0, .5);
  transition: background-color .2s ease,
              opacity .2s ease;
}

.list .item .button:hover {
  background: #138513;
  opacity: 1;
  transition: background-color .2s ease,
              opacity .2s ease;
}

.list .item:last-child .button {
  background: #4d74c7;
}

.list .item:last-child .button:hover {
  background: #1643a3;
}